<body> 
 
 <div class="first-block">
  <h3 class="first-block-text">  ページの説明 </h3>

  <h1> 大学野球部のためのマッチングサイト </h1>

  <h3>全国の大学野球部がより円滑に練習試合を組むためのサイトです！</h3>

  <%= link_to 'Next', posts_index_path %>
 </div>
 
 <footer>  
  <p>作成者・広島大学硬式野球部　寺村光</p>
 </footer>
</body>