<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="posts/index">試合を組む</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<body> 
 
 

 <div class="first-block">

  <class="first-block-text">  
  <br> <br>
  <div class="box1">
    <p>

  <h3>ここは…</h3>
  <h1> 大学野球部のためのマッチングサイト!! </h1>

  <h3>全国の大学野球部がより円滑に練習試合を組むためのサイトです！</h3>
  <br>
  <a href="posts/index" class="button">ページへGO!!</a>
  </p>
  </div>

 </div>
 
 <div class="second-block">
 
 　<h2>製作者の思い</h2>
 　<h5></h5>
 <a href="/posts/index"><img src="miz-1gjyb13000-1.jpg" alt="次へ"></a>

 </div>

 <footer>  
  <p>作成者・広島大学硬式野球部　寺村光</p>
 </footer>
</body>