.チーム名{
    padding: 10px;
}

.日時{
    padding: 10px;
}

.会場{
    padding: 10px;
}

.備考{
    padding: 10px;
}

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url("神宮2.jpg");
    min-height: 100vh;
}

