*{
  margin: 0;
  padding: 0;
}

header{
  height: 45px;
  background-color: #000;
}

.first-block{
  position: relative;
  background: url("神宮4.jpg");
  background-size: cover; 
  width: 100%;
  min-height: 100vh;
  text-align:center; 
  color: black;
  opacity: 0.8;
  center / cover;
}

.box1 {
  margin: 10px auto;
  width: 80%;
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #000000;
  color: #2c2c2f;
  background: #cde4ff;/*背景色*/
  opacity: 0.8;
}
.box1 p {
  margin: 0; 
  padding: 0;
}

.first-block-text{padding: 80px 0 0;}


.first-block p {
  margin: 0; 
  padding: 0;
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #87CEFA;     /* 背景色     */
  color         : #191970;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #87CEFA;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.second-block{
  
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background-color: #000;
  font-size: 15px;
  color: #fff;
}